.tab-container {
  display: flex;
  justify-content: flex-start;
  width: 55%;
  text-align: center;
  gap: 4rem;
  font-size: 1.5rem;
  margin: 0 auto;
}

.tab__tab-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  border-radius: 2rem;
}

.tab__tab-item:hover {
  background-color: var(--color-water-10);
  cursor: pointer;
}

.tab__tab-item__all-num,
.tab__tab-item__fav-num {
  width: 3rem;
  height: 2rem;
  background-color: var(--color-water-10);
  border-radius: 2rem;
}

.item-active {
  color: var(--color-nemo-mid);
}
.num-active {
  background-color: var(--color-nemo-mid);
  color: var(--color-foam);
}
