@import url("../colors/colors.css");
.tab-content__item {
  width: 55%;
  margin: 6rem auto;
  padding-bottom: 3rem;
  border-bottom: solid var(--color-water-10) 1px;
}

.tab-content__item:last-child {
  border-bottom: none;
}

.tab-content__item__delete {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  line-height: 1.6rem;
  transform: translateY(-2rem);
  color: var(--color-granite);
  background-color: var(--color-foam);
  border-radius: 50%;
  border: none;
  float: left;
}

.tab-content__item__delete:hover {
  background-color: var(--color-nemo-dark);
  color: var(--color-foam);
}

.tab-content__item__time {
  font-size: 1.5rem;
}

.tab-content__item__motto {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 2rem;
  margin: 2rem auto;
}

.tab-content__item__notes {
  font-size: 1.5rem;
}
